In [1]:
a=(10,12,13)
b=10,23,56

In [2]:
type(a)
type(b)

tuple

sometimes we need to use paranthesis () while defining tuple

In [12]:
a=1,2,3,4,5,6

In [13]:
x, *others,y,z=a

In [14]:
x

1

In [15]:
others

[2, 3, 4]

In [16]:
z

6

In [17]:
_

6

In [18]:
a[0]=100

TypeError: 'tuple' object does not support item assignment

we are not changing the tuple we are changing its content

In [19]:
a=1,2,3,4

In [20]:
id(a)

2763267082576

In [21]:
a+=6,7,8,5

In [22]:
a

(1, 2, 3, 4, 6, 7, 8, 5)

In [23]:
id(a)

2763266991168

here id of a is change

In [28]:
b=1,2,3,4

In [29]:
id(b)

2763267080256

In [25]:
b=1

In [26]:
print(b)

1

In [27]:
id(b)

2763152386352

In [30]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [31]:
london

('London', 'UK', 8780000)

In [32]:
cities=[london,new_york,beijing]

In [33]:
total=0
for city in cities:
    total+=city[2]
print(total)

38280000

In [36]:
sum(city[2] for city in cities)

38280000

In [46]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [47]:
symbol, year, month, day, open_, high, low, close = record

In [48]:
symbol

'DJIA'

In [49]:
low

25942

In [50]:
close

26072

In [51]:
month

1

In [52]:
symbol,*_, close=record

In [53]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [54]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))